.game {
  width: 20%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  height: 450px;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.7));
}

.l2 {
  transform: skewY(-20deg);
}

.l1 {
  transform: skewY(-10deg);
}

.r1 {
  transform: skewY(10deg);
}

.r2 {
  transform: skewY(20deg);
}

.game img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 25px 0;
}

.overlay h3 {
  text-align: center;
}

.overlay h3 a {
  font-size: 1.4rem;
  transition: 0.3s;
}

.overlay h3 a:hover {
  color: rgba(32, 140, 255, 0.7);
}

.game:hover {
  transform: scale(1.2);
  z-index: 100;
}

.game:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1400px) {
  .overlay h3 a {
    font-size: 1.1rem;
  }
}

@media (max-width: 650px) {
  .game {
    width: 20%;
    height: 250px;
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.7));
  }

  .overlay {
    padding: 0 5px 35px 0;
  }

  .overlay h3 a {
    font-size: 0.8rem;
  }

  .game:hover {
    transform: scale(1.3);
  }
}
