.games {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 250px;
}

@media (max-width: 650px) {
  .games {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
