.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section {
  width: 95%;
  margin-top: 20px;
  padding: 0 20px;
}

main {
  width: 100%;
  background-color: #131925;
  border-radius: 30px;
  padding: 25px 35px;
}

.Icon {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}

.Icon:hover {
  transform: translateY(-2px) scale(1);
}

.special {
  filter: invert(1);
}

@media (max-width: 650px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 100%;
    margin-top: 10px;
    padding: 0 3px;
  }

  main {
    padding: 15px 25px;
  }

  .Icon {
    font-size: 1.4rem;
  }
}
